@model LibraryAutomationSystem.Models.BookLanguage

@{
    ViewBag.Title = "Create_BookLanguage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create_BookLanguage</h2>

@using (Html.BeginForm("Create_BookLanguage", "BookLanguage", FormMethod.Post))
{
    <div>
        <div>
            @Html.DisplayNameFor(Model=>Model.BookLanguageName)
            @Html.TextBoxFor(Model => Model.BookLanguageName, new{  maxlength=15})
            @Html.ValidationMessageFor(Model=>Model.BookLanguageName)
        </div>
        <div>
            <input type="submit" />
        </div>
    </div>
}

