@model IEnumerable<LibraryAutomationSystem.Entity.BookLanguage>

@{
    ViewBag.Title = "View_BookLanguage";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2 class="LanguageHeader">View BookLanguage</h2>
<div class="Language">
    @Html.ActionLink("Add Language", "Create_BookLanguage", "BookLanguage",new { @class="AddCategoryLink"})
    <table border="1">
        <tr>
             <td>
                Book Language
            </td>
            <td>
                Actions
            </td>
        </tr>
        @foreach (LibraryAutomationSystem.Entity.BookLanguage items in Model)
        {@Html.HiddenFor(Model=>items.BookLanguageId)
            <tr>
                <td>
                    @items.BookLanguageName
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit_Book_Language", new { bookLanguageId = items.BookLanguageId })
                    @Html.ActionLink("Delete", "Delete_Book_Language", new { bookLanguageId = items.BookLanguageId })
                </td>
            </tr>
        }

    </table>
</div>
