@model LibraryAutomationSystem.Models.Category

@{
    ViewBag.Title = "Create_Category";
    ////Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create_Category</h2>
@using (Html.BeginForm("Create_Category", "Admin", FormMethod.Post))
{
    <div>
        <div>
            @Html.DisplayNameFor(Model=>Model.CategoryName)
            @Html.TextBoxFor(Model=>Model.CategoryName,new { maxlength=50})
            @Html.ValidationMessageFor(Model=>Model.CategoryName)

        </div>
        <div>
            @Html.ActionLink("Back","Category","Admin")
        </div>
        <div>
            <input type="submit" />
        </div>
    </div>
}

