@model IEnumerable<LibraryAutomationSystem.Entity.Book>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LASLayout.cshtml";
}
<section class="section-bookshowcase row">
    @foreach (LibraryAutomationSystem.Entity.Book items in @Model)
    {

        <div class="bookShowCase">
            <div class="bookImage">
                <img src="@Url.Content("~/Images/"+items.BookImagePath )" />
            </div>
            <div>
                <ul class="bookaccessories">
                    <li><ion-icon name="reader" class="icons-small"></ion-icon> <h3>@items.BookTittle</h3></li>
                    <li><ion-icon name="person" class="icons-small"></ion-icon>BookAuthor:&nbsp;@items.AuthorName</li>
                    <li><ion-icon name="library" class="icons-small"></ion-icon>@items.BookLanguage.BookLanguageName </li>
                    <li>
                        <span>
                            @if ((items.BookCount) > 0)
                            {
                                <ion-icon name="checkmark" class="icons-small"></ion-icon>
                            }Book count:&nbsp;@items.BookCount
                        </span> &nbsp; <span><ion-icon name="layers" class="icons-small"></ion-icon>Book Category:&nbsp;@Html.DisplayFor(Model => items.Category.CategoryName)</span>
                    </li>

                </ul>
            </div>
            <div class="bookingActions">
                @using (Html.BeginForm("GetBook", "Book", new { userName = HttpContext.Current.User.Identity.Name, bookId = items.BookId }, FormMethod.Post))
                {
                    <input type="submit" value="Get Book " class="btn" />
                }

                <input type="button" value="Get Later" class="btn" />
            </div>
        </div>

    }
    @if (TempData["RequestMessage"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("  @TempData["RequestMessage"]");
            };
        </script>

    }
</section>
<script src="~/Content/Library.js"></script>