/*
    blue color:#2874f0
    orange color:#f0ad4e
    light grey color: #E4E4E4
*/

*{
    box-sizing:border-box;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
/*
    BODY PART
*/
body {
    
    margin:0px auto;
    padding: 0;
    background-color: 	#FFFFFF;
    padding:20px;
    font-size:18px;
}

/*
   **********************REUSABLE CONTENTS******************
*/
.row{
    max-width:1140px;
    margin:0 auto;
}
.form-control{
    display:block;
   
    height: 35px;
    padding: 6px 12px;
    font-size: 100%;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;  

}
.btn{
    display:inline-block;
     background-color: #f0ad4e;
     padding:6px 12px;
   cursor:pointer;
   border:1px solid  #f0ad4e;
   border-radius:4px;
  color: #fff;
  font-size:110%;
  width:150px;
  transition:background-color 0.4s; 
}

.btn:focus,
.btn:hover{
    outline:1px solid #f0ad4e;
    background-color:	#FF6347;
    border:1px solid #FF6347;
}
.clear-fix{zoom:1}
.clearfix:after{
    clear:both;
    content:'.';
    display:block;
    visibility:hidden;
    height:0;
}

.link{
    text-decoration:none;
}

.container input[type=text]
{
    margin-bottom:10px;
}
.error{
    color:red;
    display:inline-block;
    width:auto;
    overflow:hidden;
    margin-top:2px;
    margin-bottom:3px;
    vertical-align:middle;
}
.icons-small{
    display:inline-block;
    vertical-align:-2px;
    margin:0px 5px;
    color:#f0ad4e;
}
.icons-big {
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
    transition: color 0.4s , transform 0.4s ;
    cursor:pointer;
}
    .icons-big:hover {
        color: #2874f0;
        transform: rotateY(180deg);
    }
    /*
    *************************************   HEADINGS    **************************************
*/
    h1, h3, h4 {
        margin: 0;
        padding: 0;
        font-weight: 300;
    }

h2{
    font-weight:300;
    font-size:180%;
    margin:0;
    padding:0;
}
h2::after{
    display:block;
    height:2.5px;
    background-color:#f0ad4e;
    content:"";
    width:200px;
    margin:10px auto 0 auto;
}
.Heading{
    margin-top: 10px;
    margin-bottom:20px;
    text-align:center;
    text-transform:uppercase;
}
h3{
    display:inline-block;
}

/*
    ****************************** HEADER PART*********************
*/

.main-heading {
    display: inline-block;
    margin:0px 10px;

}

.SearchBoxContainer {
    display: inline-block;
    margin: 0px 200px;
}

.cart {
    display: inline-block;
    margin: 0px 0px 0px 200px;
}
.headerContainer h1{
    font-weight:300;
    margin:0;
    padding:0;
}
.headerContainer text{
    font-weight:300;
}
.SearchBoxContainer input[type=text]
{
    width:300px;
     padding: 6px;
    height:auto;
    margin:0;
  font-size:17px;
}
.SearchBoxContainer input[type=text]:focus{
     outline:none;
    border:1px solid #a9a9a9;
    box-shadow:0 2px 3px #a9a9a9;
}
.HeaderTogglePanel{
    text-align:center;
    padding:6px 12px 6px 12px;
    background-color:#fff;
    color:#000;
    cursor:pointer;
    font-size:xx-large;
    transition: background-color 0.2s, color 0.5s;
    float:left;
    border-radius:40px;
    position:absolute;
    top:15px;
}
.HeaderTogglePanel:hover{
     
     background-color:#2874f0;
     color:#fff;
}

/*
    ***********************************************MAIN CONTENTAINER PART*****************
*/
.mainContainer {
    display: flex;
}
.mainContainer main{
    flex:auto;
}
/*
    ***********************************NAV PART***************************
*/
.navContainer {
    margin-top: 1.5%;
}
.links{
    display:flex;
     
}
.links a{
    
    text-decoration:none;
    color:#fff;
    padding:20px;
    flex:auto;
    text-align:center;
    background-color:	#2874f0;
    border-right:1px solid black;
    transition: background-color 0.5s;
    
}
.links a:last-child{
    border-right:none;
}
.links a:hover{
   background-color:#7A80FF;
}

.LeftNav ul{
    list-style-type:none;
}
.LeftNav ul  a{
    text-decoration:none;
    color:black;
}
/*
    ********************************* MAIN CONTENT CONTAINER PART *******************
*/
.maincontentContainer{
    margin-top:5vh;
}
/*
    ****************************************LOGIN PART************************************
*/
.login_container{
    
     margin-top: 5%;
    margin-left: 40%;
    width:400px;
    border:1px solid #2874f0;
    box-shadow:0px 10px 10px -6px #777372;
    border-radius:4px;
    position:relative;
    display:flex;
    flex-direction:column; 
    transition: box-shadow 0.4s;

}
.login_container:hover
{
    box-shadow:10px 10px 10px -8px grey;
}
.login-body{
    padding:20px;
}
/*
    *****************************************LOGIN HEADER*******************************
*/
.login_Header
{
    width:100%;
    font-weight:bolder;
    color:white;
    background-color:#2874f0;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;
    border: 1px solid #4F56F0;

}

/*
    *************************************LOGIN BODY ELEMENTS********************************
*/
.login-body input[type=text],input[type=password]{
     width: 300px;
}
.form-control:focus
{
    outline:none;
     box-shadow: 1px 1px 4px grey;
}
.form-group{
    margin-top:15px;
    margin-bottom:15px;
}
/*
    ******************************************LOGIN FOOTER***********************
*/
.login-footer{
    margin-top:5px;
    display:flex;

    justify-content:space-around;
 
}
.login-button{
    width:200px;
}


.Register-Infromation{
    text-align:center;
    margin:20px auto;
    color:blue;
    text-decoration:underline;
}
.Register-sub-panel{
    display:flex;
    justify-content:space-around;
}
.Register-Button{
    width:200px;
}   

/*
    ********************************************MEDIA QUERIES FOR LOGIN,REGISTER AND LAYOUT************************
*/
@media all and (max-width:580px)
{
    .navContainer{
        margin-top:10%;
    }
    .HeaderTogglePanel{
        display:inline;
    }
    .links{
        flex-direction:column;    

    }
    .links a{
        border-right:none;
        border-bottom:1px solid black;
         
    }
    .links a:last-child{
        border-bottom:none;
    }
    .login_container {
       margin-left:5%;
    }
     .Register-panel{
        display:flex;
        flex-flow:column nowrap;
        transform:translate(12%,2%);

    }
}
/*
    *********************************************REGISTER PART*************************************
*/
.Register-panel{
    max-width:  calc(100% - 100px);
    border:1px solid #2874f0;
    border-radius:4px 4px 0px 0px;
    box-shadow: 0px 3px 10px violet;
    
    
}
.Register-panel:hover
{
    box-shadow:0px 3px 10px grey;
}
/*
    ****************************************************REGISTER HEADER********************************
*/
.Register-Header{
    display:flex;
    flex-flow:column wrap;
    font-weight:bolder;
    color:white;
    background-color:#2874f0;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;

}
/*
    **************************************REGISTER BODY*****************************
*/
.Register-Body{
    padding:40px;
}
/*
********************************************** REGISTER BODY ELEMETNS*************************
 */
.Register-Body input[type=password],input[type=text],input[type=date],input[type=email],input[type=number]
{
    width:200px;
}   

.Register-Body textarea {
    resize: none;
    width: 250px;
    height: 150px;
}
input[type=date]{
    display:block;
    
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;
     margin-top:10px;
    margin-right:40px;
}
input[type=date]:focus{
    height:35px;
    outline:none;
}
.Register-Gender{
    margin-right:22px;
    position:relative;
    margin-top:20px;
}
.Register-Gender span
{
    display:block;
    margin:5px 0;
}
/*
    ********************************REGISTER FOOTER******************************
*/
.Register-Footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.Register-Button{
    width:200px;
}
/*
    *************************** VALIDATION ERROR MESSAGE*******************************
*/
/*.gender{
    display:block;
    width:250px;
    overflow:hidden;
}

.Register-Gender error{
   */ /*display:block;
}*/
/*
    ***********************************LEFT NAV PART*******************************
*/
.mainLeftNav{
    top:0;
    margin:0;
    padding:5px 0px;
     height: 100%; 
    position: fixed; 
  z-index: 1;
  width:0;
  overflow-x: hidden;
    padding-top: 60px; 
  transition: 0.5s;
  background-color:#2874f0;
}
.mainLeftNav a{
     margin: 10px 2px;
    border-bottom:2px solid transparent;
    transition: border-bottom 0.4s;
    color:#fff;
    display:block;
    text-transform:uppercase;
    padding: 10px 10px 1px 10px;
   
}
.mainLeftNav a{
    text-decoration:none;
    color:#fff;
}
.mainLeftNav a:hover
{
    border-bottom:2px solid #f0ad4e;
}
.toggle-close{
    font-size:xx-large;
    left: 80%;
    top: 2%;
    position: absolute;
    z-index:2;
    transition: visibility 2s;
    text-decoration:none;
    color:#fff;
}
/*
    *********************************** ADMIN SEARCH BOX************************
 */
.adminSearchBoxContainer input[type=text]{
    margin-left: 50%;
    transform: translateX(-80%);
     width:300px;
     padding: 6px;
    height:auto;
  font-size:17px;
}
.adminSearchBoxContainer input[type=text]:focus{
    outline:none;
    border:1px solid #a9a9a9;
    box-shadow:0 2px 3px #a9a9a9;
}
/*
    **************************************  CATEGORY PART   *****************************
*/

.addCategory{

    text-decoration:none;
    margin-bottom:10px;
}
/*
    **********************************  FORMAT  TABLE  **************************************
*/
table{
    border-radius:8px;
    border-collapse:collapse;
    width:100%;
    margin-top:10px;
}
table th{
    background-color:#2874f0;
    font-weight:300;
    color:#fff;
    padding:5px 10px;
    text-transform:uppercase;
    
}
table th:first-child{
    border-radius:8px 0px 0px 0px;
}
table th:last-child{
    border-radius:0px 8px 0px 0px;
}
table tr td{
    padding:5px 10px;
    text-align:center;
}
tr td a{
    margin:5px;
}
tr td img{
    display:inline-block;
    height:100px;
    width:100px;
    transition: box-shadow 0.4s, transform 0.4s;
}
tr td img:hover{
    box-shadow: 0 2px 8px #555;
    transform:translateY(-5px);
}
th,td{
    border-bottom:2px solid #555;
}
tr{
    transition:background-color 0.4s;
}
tr:hover{
    background-color:#E4E4E4;
}
/*
    ***************************************************     ADD BOOK   **********************************************

*/
.AddBookContainer select{
    margin-bottom:10px;
}
.AddBookContainer input[type=file]{
    display:block;
    padding: 6px 12px;
    font-size: 100%;
    color: #555;
    margin-bottom:5px; 
}
/*
    *************************************************   EDIT BOOk   ******************************************************
*/
.EditBookContainer select{
    margin-bottom:10px;
}
.EditBookContainer img{
    height:100px;
    width: 100px;
    display:block;
    transition: box-shadow 0.4s, transform 0.4s;
}
.EditBookContainer img:hover{
      box-shadow: 0 2px 8px #555;
    transform:translateY(-5px);
}
/**
    ****************************************    BOOK CARDS  *********************************
*/
.section-bookshowcase{
    background-color:#ececec;
    border-radius:8px;
}
.bookShowCase{
    position:relative;
    display:block;
    padding:10px 15px;
}  
.bookShowCase div{
    display:inline-block;
}
.bookImage img{
    display:inline-block;
   
    transition: transform 0.4s, box-shadow 0.4s;
    
}
    .bookImage img:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
.bookImage img{
    height:100px;
    width:100px;
    
}
.bookaccessories{
    list-style:none;
    padding:0;
    margin:0;
}
.bookaccessories li {
    padding:3px 4px;
}
.bookingActions{
    float:right;
    display:inline-block;
    padding:20px 10px;
}
.bookingActions input[type=submit]{
   display:block;
    margin-bottom:5px;
    
}

