body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    margin:0px auto;
    padding: 0;
    background-color: 	#FFFFFF;
}
.headerContainer{
    font-size:xx-large;
    font-weight:bolder;
    display:flex;

}
.navContainer{
    margin:2% 2%;
}
.links{
    display:flex;
    
}
.links a{
    
    text-decoration:none;
    color:black;
    padding:20px;
    flex:auto;
    text-align:center;
    align-items:center;
    background-color:	#7FFF00;
    border-right:1px solid black;
    
}
.links a:last-child{
    border-right:none;
}
.links a:hover{
   background-color:#75eb00;
}
.mainContainerForNav{
    display:flex;
}
.LeftNav ul{
    list-style-type:none;
}
.LeftNav ul  a{
    text-decoration:none;
    color:black;
}

.login_container{
    margin-top:20px;    
    border-color:black;
    width:400px;
    border:1px solid blue;
    box-shadow:0px 10px 10px -6px #777372;
    border-radius:4px;
    position:relative;
    display:flex;
    flex-direction:column; 
    margin: 10% 100%;
    flex:1 0 auto;
}
.login_container:hover
{
    box-shadow:10px 10px 10px -8px grey;
}
.login-body{
    padding:20px;
}
.login_Header
{
    font-weight:bolder;
    color:white;
    background-color:blueviolet;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;

}

.form-control{
    display:block;
   
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;
     margin-top:10px;
     margin-right:10px;
}
.login-body input[type=text],input[type=password]{
     width: 300px;
}
.form-control:focus
{
    outline:none;
     box-shadow: 1px 1px 4px grey;
}
.form-group{
    margin-top:15px;
    margin-bottom:15px;
}
.login-footer{
    margin-top:5px;
    display:flex;

    justify-content:space-around;
 
}
.login-button{
    padding:6px 12px;
   cursor:pointer;
   border-radius:4px;
   border:1px solid transparent;
   font-size:medium;
  color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    font-weight:normal;
     width:200px;
}
.login-button:hover{
    background-color:	#FF6347;
}
.error{
    color:red;
}
.Register-Infromation{
    text-align:center;
    margin:20px 0px 20px 0px;
    color:blue;
    text-decoration:underline;
}
.Register-sub-panel{
    display:flex;
    justify-content:space-around;
}
.Register-Button{
    padding:5px;
   cursor:pointer;
   border-radius:4px;
   border:1px solid transparent;
   font-size:medium;
  color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    font-weight:normal; width:200px;
}
.Register-Button:hover{
    background-color:#FF6347;
}
.HeaderTogglePanel{
    text-align:center;
    padding:6px 12px 6px 12px;
    background-color:#7FFF00;
    margin-top:-7px;
    cursor:pointer;
    display:none;
}
.HeaderTogglePanel:hover{
    background-color:#75eb00;
}
@media all and (max-width:580px)
{
    .headerContainer{
        justify-content:space-around;
    }
    .HeaderTogglePanel{
        display:inline;
    }
    .links{
        flex-direction:column;    

    }
    .links a{
        border-right:none;
        border-bottom:1px solid black;
         
    }
    .links a:last-child{
        border-bottom:none;
    }
    .login_container {
       margin:0% -7%;
    }
}
.Register-panel{
    max-width:  calc(100% - 100px);
    margin:0px auto;
    border:1px solid blue;
    border-radius:4px 4px 0px 0px;
    box-shadow: 0px 3px 10px violet;
    
    
}
.Register-panel:hover
{
    box-shadow:0px 3px 10px grey;
}
.Register-Header{
    display:flex;
    flex-flow:column wrap;
    font-weight:bolder;
    color:white;
    background-color:blueviolet;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;

}
.Register-Body{
    display:flex;
    flex-flow:row wrap;
    padding:40px;
}
.Register-Body input[type=password],input[type=text],textarea,input[type=date],input[type=email],input[type=number]
{
    width:200px;
}
.Register-Body textarea{
    height:50px;
    
}
input[type=date]{
    display:block;
    
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;
     margin-top:10px;
    margin-right:40px;
}
input[type=date]:focus{
    outline:none;
}
.Register-Gender{
    margin-left:10px;
    margin-right:22px;
    position:relative;
    margin-top:20px;
}
.Register-Footer{
    display:flex;

    justify-content:space-around;
    margin-bottom:10px;
}
.Register-Button{
    width:200px;
}
.error{
    
    color:black;
    max-width:100px;
    overflow:scroll;
    color:red;
    height:60px;
    width:200px;

}
.Register-Gender error{
    display:block;
}
@media all and (max-width:580px)
{
    .Register-panel{
        display:flex;
        flex-flow:column nowrap;
        margin:0px auto;

    }
}
.sideBarContainer{

}
.LeftNav ul li{
    padding:5px 10px;
    margin:5px 0px;
}
.LeftNav ul li a:hover
{
    color:blue;
}
