*{
    box-sizing:border-box;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
/*
    BODY PART
*/
body {
    
    margin:0px auto;
    padding: 0;
    background-color: 	#FFFFFF;
    padding:20px;
}
/*
    ****************************** HEADER PART*********************
*/
.headerContainer{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    
}
.headerContainer h1{
    font-weight:300;
    margin:0;
    padding:0;
}
.headerContainer text{
    font-weight:300;
}
.SearchBoxContainer input[type=text]
{
    width:300px;
     padding: 6px;
    height:auto;
  
  font-size:17px;
}
.SearchBoxContainer input[type=text]:focus{
     outline:none;
    border:1px solid #a9a9a9;
    box-shadow:0 2px 3px #a9a9a9;
}
/*
    ***********************************************MAIN CONTENTAINER PART*****************
*/

.mainContainer{
    display:flex;
}
.mainContainer main{
    flex:auto;
}
/*
    ***********************************NAV PART***************************
*/
.navContainer {
      margin-top: 2vh;
}
.links{
    display:flex;
     
}
.links a{
    
    text-decoration:none;
    color:black;
    padding:20px;
    flex:auto;
    text-align:center;
    background-color:	#7FFF00;
    border-right:1px solid black;
    
}
.links a:last-child{
    border-right:none;
}
.links a:hover{
   background-color:#75eb00;
}

.LeftNav ul{
    list-style-type:none;
}
.LeftNav ul  a{
    text-decoration:none;
    color:black;
}
/*
    ********************************* MAIN CONTENT CONTAINER PART *******************
*/
.maincontentContainer{
    margin-top:5vh;
}
/*
    ****************************************LOGIN PART************************************
*/
.login_container{
    top:50%;
    left:50%;
    transform:translate(-20%,0);   
    border-color:black;
    width:400px;
    border:1px solid blue;
    box-shadow:0px 10px 10px -6px #777372;
    border-radius:4px;
    position:relative;
    display:flex;
    flex-direction:column; 
    margin: 10% 100%;
    flex:1 0 auto;
}
.login_container:hover
{
    box-shadow:10px 10px 10px -8px grey;
}
.login-body{
    padding:20px;
}
/*
    *****************************************LOGIN HEADER*******************************
*/
.login_Header
{
    font-weight:bolder;
    color:white;
    background-color:blueviolet;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;

}
/*
    **************************LOGIN FORM CONTROL***************************************
*/
.form-control{
    display:block;
   
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;
     margin-top:10px;
     margin-right:10px;
}
/*
    *************************************LOGIN BODY ELEMENTS********************************
*/
.login-body input[type=text],input[type=password]{
     width: 300px;
}
.form-control:focus
{
    outline:none;
     box-shadow: 1px 1px 4px grey;
}
.form-group{
    margin-top:15px;
    margin-bottom:15px;
}
/*
    ******************************************LOGIN FOOTER***********************
*/
.login-footer{
    margin-top:5px;
    display:flex;

    justify-content:space-around;
 
}
.login-button{
    padding:6px 12px;
   cursor:pointer;
   border-radius:4px;
   border:1px solid transparent;
   font-size:medium;
  color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    font-weight:normal;
     width:200px;
}
.login-button:hover{
    background-color:	#FF6347;
}
.error{
    color:red;
}
.Register-Infromation{
    text-align:center;
    margin:20px 0px 20px 0px;
    color:blue;
    text-decoration:underline;
}
.Register-sub-panel{
    display:flex;
    justify-content:space-around;
}
.Register-Button{
    padding:5px;
   cursor:pointer;
   border-radius:4px;
   border:1px solid transparent;
   font-size:medium;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #fff;
    font-weight:normal; width:200px;
}
.Register-Button:hover{
       background-color:	#FF6347;
}   
.HeaderTogglePanel{
    text-align:center;
    padding:6px 12px 6px 12px;
    background-color:#fff;
    color:black;
    cursor:pointer;
    display:none;
}
.HeaderTogglePanel:hover{
     border-radius:40px;
     background-color:		#ADFF2F;
}
/*
    ********************************************MEDIA QUERIES FOR LOGIN,REGISTER AND LAYOUT************************
*/
@media all and (max-width:580px)
{
    .headerContainer{
        justify-content:space-around;
        align-items:center;
    }
    .HeaderTogglePanel{
        display:inline;
    }
    .links{
        flex-direction:column;    

    }
    .links a{
        border-right:none;
        border-bottom:1px solid black;
         
    }
    .links a:last-child{
        border-bottom:none;
    }
    .login_container {
       left:0%;
       transform:translate(-90%,0);
    }
     .Register-panel{
        display:flex;
        flex-flow:column nowrap;
        transform:translate(12%,2%);

    }
}
/*
    *********************************************REGISTER PART*************************************
*/
.Register-panel{
    max-width:  calc(100% - 100px);
    border:1px solid blue;
    border-radius:4px 4px 0px 0px;
    box-shadow: 0px 3px 10px violet;
    
    
}
.Register-panel:hover
{
    box-shadow:0px 3px 10px grey;
}
/*
    ****************************************************REGISTER HEADER********************************
*/
.Register-Header{
    display:flex;
    flex-flow:column wrap;
    font-weight:bolder;
    color:white;
    background-color:blueviolet;
    padding:20px;
    border-radius:4px 4px 0px 0px;
    font-size:larger;

}
/*
    **************************************REGISTER BODY*****************************
*/
.Register-Body{
    display:flex;
    flex-flow:row wrap;
    padding:40px;
}
/*
********************************************** REGISTER BODY ELEMETNS*************************
    */
.Register-Body input[type=password],input[type=text],textarea,input[type=date],input[type=email],input[type=number]
{
    width:200px;
}
.Register-Body textarea{
    height:50px;
    
}
input[type=date]{
    display:block;
    
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 5px 6px -6px black;
     margin-top:10px;
    margin-right:40px;
}
input[type=date]:focus{
    height:35px;
    outline:none;
}
.Register-Gender{
    margin-left:10px;
    margin-right:22px;
    position:relative;
    margin-top:20px;
}
/*
    ********************************REGISTER FOOTER******************************
*/
.Register-Footer{
    display:flex;
    justify-content:space-around;
    margin-bottom:10px;
}
.Register-Button{
    width:200px;
}
/*
    *************************** VALIDATION ERROR MESSAGE*******************************
*/
.error{
    
    color:black;
    max-width:100px;
    overflow:scroll;
    color:red;
    height:50px;
    width:200px;

}
.gender{
    display:block;
    width:250px;
    overflow:hidden;
}

.Register-Gender error{
    display:block;
}
/*
    ***********************************LEFT NAV PART*******************************
*/
.LeftNav ul li{
    padding:5px 10px;
    margin:5px 0px;
}
.mainLeftNav li a:hover
{
    color:blue;
}
/*
    *********************************** ADMIN SEARCH BOX************************
 */
.adminSearchBoxContainer input[type=text]{
    margin-left: 50%;
    transform: translateX(-80%);
     width:300px;
     padding: 6px;
    height:auto;
  font-size:17px;
}
.adminSearchBoxContainer input[type=text]:focus{
    outline:none;
    border:1px solid #a9a9a9;
    box-shadow:0 2px 3px #a9a9a9;
}

